ServidorProjeto/APIservidor.json
[
    {
        "id": "6df5eb93d91b3e31",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c73459c0904a181d",
        "type": "websocket-listener",
        "path": "/ws/data",
        "wholemsg": "false"
    },
    {
        "id": "6327d6e603ed8e38",
        "type": "debug",
        "z": "6df5eb93d91b3e31",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 320,
        "wires": []
    },
    {
        "id": "88fd34c43e1fcc50",
        "type": "inject",
        "z": "6df5eb93d91b3e31",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 400,
        "wires": [
            [
                "e8a79d815b151d53"
            ]
        ]
    },
    {
        "id": "43a1179f9d6144e1",
        "type": "websocket in",
        "z": "6df5eb93d91b3e31",
        "name": "",
        "server": "c73459c0904a181d",
        "client": "",
        "x": 210,
        "y": 320,
        "wires": [
            [
                "6525224be1950a73"
            ]
        ]
    },
    {
        "id": "a52545ea7e4dddd6",
        "type": "websocket out",
        "z": "6df5eb93d91b3e31",
        "name": "",
        "server": "c73459c0904a181d",
        "client": "",
        "x": 830,
        "y": 400,
        "wires": []
    },
    {
        "id": "6525224be1950a73",
        "type": "function",
        "z": "6df5eb93d91b3e31",
        "name": "GetJson",
        "func": "try {\n    var jsonObject = JSON.parse(msg.payload);\n    global.set('myData', jsonObject); // Para armazenamento global\n    msg.payload = jsonObject;\n} catch (e) {\n    msg.payload = { error: 'Invalid JSON format' };\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 320,
        "wires": [
            [
                "6327d6e603ed8e38"
            ]
        ]
    },
    {
        "id": "e8a79d815b151d53",
        "type": "function",
        "z": "6df5eb93d91b3e31",
        "name": "EnviaJson",
        "func": "// Recuperar o JSON armazenado\nvar jsonObject = global.get('myData'); // ou flow.get('myData') se for no contexto de fluxo\n\n// Preparar a mensagem para enviar pelo WebSocket\nmsg.payload = JSON.stringify(jsonObject); // Converter o objeto de volta para string JSON\n\n// Retornar a mensagem para o node websocket out\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 530,
        "y": 400,
        "wires": [
            [
                "a52545ea7e4dddd6"
            ]
        ]
    }
]